interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.gov.uk/api/search.json?filter_organisations=ministry-of-justice&filter_content_store_document_type=national_statistics&filter_content_store_document_type=official_statistics&fields=description&fields=document_collections&fields=link&fields=public_timestamp&fields=title&fields=first_published_at&count=1500&start=0
  response:
    body:
      string: "{\"results\":[{\"description\":\"Statistics on reoffending of offenders
        who were released from custody, received a non-custodial conviction, or a
        caution.\",\"document_collections\":[{\"content_id\":\"5eb8ee81-7631-11e4-a3cb-005056011aef\",\"link\":\"/government/collections/proven-reoffending-statistics\",\"title\":\"Proven
        reoffending statistics\",\"slug\":\"proven-reoffending-statistics\"}],\"link\":\"/government/statistics/proven-reoffending-statistics-july-2022-to-september-2022\",\"public_timestamp\":\"2024-07-25T00:00:00.000+01:00\",\"title\":\"Proven
        reoffending statistics: July to September 2022\",\"index\":\"government\",\"es_score\":null,\"_id\":\"/government/statistics/proven-reoffending-statistics-july-2022-to-september-2022\",\"elasticsearch_type\":\"edition\",\"document_type\":\"edition\"},{\"description\":\"Type
        and volume of tribunal cases received, disposed of or outstanding. This also
        includes statistics on the Gender Recognition Certificate applied for and
        granted by HMCTS Gender Recognition Panel.\",\"link\":\"/government/statistics/tribunals-statistics-quarterly-april-to-june-2024\",\"public_timestamp\":\"2024-10-03T09:30:06.000+01:00\",\"title\":\"Tribunals
        statistics quarterly: April to June 2024\",\"index\":\"government\",\"es[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.gov.uk/api/content//government/collections/new-criminal-offences-statistics
  response:
    body:
      string: '{"analytics_identifier":null,"base_path":"/government/collections/new-criminal-offences-statistics","content_id":"841f6230-3954-4f3b-a654-89bc8878f7f4","description":"New
        criminal offences statistics in England and Wales","details":{"body":"\u003cdiv
        class=\"govspeak\"\u003e\u003cp\u003eAnnual update of statistics on counting
        new criminal offences created by government departments in England and Wales.\u003c/p\u003e\n\u003c/div\u003e","change_history":[{"note":"First
        published.","public_timestamp":"2015-05-28T15:43:38.000+01:00"}],"collection_groups":[{"body":"\u003cdiv
        class=\"govspeak\"\u003e\n\u003c/div\u003e","documents":["602bd33d-7631-11e4-a3cb-005056011aef","5f4aed33-7631-11e4-a3cb-005056011aef","5ef3dd9f-7631-11e4-a3cb-005056011aef","5df40580-7631-11e4-a3cb-005056011aef","5dc70a29-7631-11e4-a3cb-005056011aef"],"title":"Documents"}],"emphasised_organisations":["dcc907d6-433c-42df-9ffb-d9c68be5dc4d"],"first_public_at":"2015-05-28T15:43:38.000+01:00","political":false},"document_type":"document_collection","first_published_at":"2015-05-28T15:43:38+01:00","links":{"available_translations":[{"api_path":"/api/content/government/collections/new-criminal-offences-statistics","api_url":"https://www.gov.uk/api/content/government/collections/new-criminal-offences-statistics","base_path":"/government/collections/new-criminal-offences-statistics","content_id":"841f6230-3954-4f3b-a654-89bc8878f7f4","document_type":"document_collection","links":{},"locale":"en","public_updated_at":"2015-05-28T14:43:38Z","schema_name":"document_collection","title":"New
        criminal offences statistics","web_url":"https://www.gov.uk/government/collections/new-criminal-offences-statistics","withdrawn":false}],"documents":[{"api_path":"/api/content/government/statistics/new-criminal-offences-statistics-in-england-and-wales-may-2014","api_url":"https://www.gov.uk/api/content/government/statistics/new-criminal-offences-statistics-in-england-and-wales-may-2014","base_path":"/government/statistics/new-criminal-offences-statistics-in-england-and-wales-may-2014","content_id":"602bd33d-7631-11e4-a3cb-005056011aef","document_type":"official_statistics","links":{},"locale":"en","public_updated_at":"201[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.gov.uk/api/content//government/collections/criminal-justice-statistics
  response:
    body:
      string: '{"analytics_identifier":null,"base_path":"/government/collections/criminal-justice-statistics","content_id":"5eb7ba4a-7631-11e4-a3cb-005056011aef","description":"A
        collection of quarterly statistics on activity in the criminal justice system,
        offending histories, and biennial compendiums on the expe[...]
