interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data.justice.gov.uk/api
  response:
    body:
      string: "{\"name\":\"Justice Data\",\"inlineName\":\"Justice Data\",\"description\":null,\"permalink\":\"/\",\"apiUrl\":\"/api\",\"visible\":true,\"children\":[{\"id\":\"justice-in-numbers\",\"name\":\"Justice
        in numbers\",\"nameShortened\":\"Justice in numbers\",\"inlineName\":\"justice
        in numbers\",\"description\":\"<p class=\\\"govuk-body\\\">The figures below
        represent a snapshot of the latest published data and comparisons to previous
        periods. The relevant links to time series provide a more complete view of
        these figures over a longer period of time as well as links to source material
        where additional context and caveats can be found to aid interpretation.</p><p
        class=\\\"govuk-body\\\">The data on this website is usually updated a week
        after a new publication is available. Updates include all <a class=\\\"govuk-link\\\"
        href=\\\"/info/publications\\\">relevant statistics</a> published in the previous
        month. A complete and up-to-date list of Ministry of Justice statistical publications
        can be found <a class=\\\"govuk-link\\\" href=\\\"https://www.gov.uk/government/organisations/ministry-of-justice/about/statistics\\\">here</a>.</p>\",\"permalink\":\"/justice-in-numbers\",\"apiUrl\":\"/api/justice-in-numbers\",\"dataPublicationId\":null,\"children\":[{\"id\":\"jin-headline\",\"name\":\"Headline
        measures\",\"nameShortened\":\"Headline measures\",\"inlineName\":\"headline
        measures\",\"description\":\"\",\"permalink\":\"/justice-in-numbers/jin-headline\",\"apiUrl\":\"/api/justice-in-numbers/jin-headline\",\"dataPublicationId\":null,\"children\":[{\"id\":\"ons-crime-survey\",\"name\":\"Crime
        figures from Crime Survey of England and Wales\",\"nameShortened\":\"Crime
        figures from Crime Survey of E[...]
