interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data.justice.gov.uk/api/publications
  response:
    body:
      string: "[{\"id\":\"courts-civil\",\"name\":\"Civil justice statistics\",\"indexUri\":\"https://www.gov.uk/government/collections/civil-justice-statistics-quarterly\",\"frequency\":\"Quarterly\",\"source\":\"MOJ\",\"documentType\":\"Accredited
        official statistics\",\"description\":\"Volume of civil and judicial review
        cases dealt with by the courts over time and the overall timeliness of these
        cases. \",\"ownerEmail\":\"CAJS@justice.gov.uk\",\"currentPublishDate\":\"5
        September 2024\",\"currentPublishDateAsDate\":null,\"nextPublishDate\":\"5
        December 2024 9:30am\",\"nextPublishDateAsDateTime\":\"2024-12-05T09:30:00Z\",\"sourceName\":\"Ministry
        of Justice\"},{\"id\":\"community-performance\",\"name\":\"Community performance
        annual\",\"indexUri\":\"https://www.gov.uk/government/collections/prison-and-probation-trusts-performance-statistics#community-performance-statistics\",\"frequency\":\"Annual\",\"source\":\"MOJ\",\"documentType\":\"Official
        Statistics\",\"description\":\"An annual release of performance statistics
        for the Probation Service, incorporating Probation Service and Commissioned
 [...]
